In [1]:
import pandas as pd
y = pd.Period('2020')
y

Period('2020', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [5]:
m = pd.Period('2020-12',freq='m')#frequency set to month

In [6]:
m

Period('2020-12', 'M')

In [7]:
m.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [8]:
m+1

Period('2021-01', 'M')

In [9]:
d = pd.Period('2020-02-28')
d

Period('2020-02-28', 'D')

In [10]:
d+1

Period('2020-02-29', 'D')

In [11]:
h = pd.Period('2020-02-29 23:00:00',freq='H')
h

Period('2020-02-29 23:00', 'H')

In [12]:
h.end_time

Timestamp('2020-02-29 23:59:59.999999999')

In [13]:
h+1

Period('2020-03-01 00:00', 'H')

In [14]:
h + pd.offsets.Hour(-1)

Period('2020-02-29 22:00', 'H')

In [15]:
q = pd.Period('2020Q1')

In [16]:
q

Period('2020Q1', 'Q-DEC')

In [17]:
q.start_time

Timestamp('2020-01-01 00:00:00')

In [33]:
q.end_time

Timestamp('2020-03-31 23:59:59.999999999')

In [19]:
idx = pd.period_range('2020','2024',freq='Q')

In [20]:
idx

PeriodIndex(['2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2',
             '2021Q3', '2021Q4', '2022Q1', '2022Q2', '2022Q3', '2022Q4',
             '2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [22]:
idx = pd.period_range('2020','2024',freq='Q-JAN')#for companies having fiscal year starting from feb-jan
idx

PeriodIndex(['2020Q4', '2021Q1', '2021Q2', '2021Q3', '2021Q4', '2022Q1',
             '2022Q2', '2022Q3', '2022Q4', '2023Q1', '2023Q2', '2023Q3',
             '2023Q4', '2024Q1', '2024Q2', '2024Q3', '2024Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [23]:
import pandas as pd
df = pd.read_csv("Desktop/py-master/pandas/18_ts_period/wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [24]:
df.set_index('Line Item',inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [25]:
df = df.T #taking transpose of data frame
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [27]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [30]:
df.index = pd.PeriodIndex(df.index,freq='q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [31]:
df['startdate'] = df.index.map(lambda x : x.start_time)
df

Line Item  Revenue  Expenses  Profit  startdate
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [35]:
df['enddate'] = df.index.map(lambda x : x.end_time)
df

Line Item  Revenue  Expenses  Profit  startdate                       enddate
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999