In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Desktop/py-master/pandas/3_different_ways_of_creating_dataframe/weather_data.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [12]:
df1 = pd.read_excel("Desktop/py-master/pandas/3_different_ways_of_creating_dataframe/weather_data.xlsx","Sheet1")

In [13]:
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [14]:
data = {'day':['2017-01-01','2017-01-02','2017-01-03'],
       'temperature':[32,35,28],
       'windspeed':[6,7,2],
       'event':['Rain','Sunny','Snow']}
df2 = pd.DataFrame(data)
df2

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [16]:
datalist = [('2017-01-01',32,6,'Rain'),
           ('2017-01-02',35,7,'Sunny'),
           ('2017-01-03',28,2,'Snow')]
df3 = pd.DataFrame(datalist,columns=["day","temperature","windspeed","event"])
df3

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [17]:
datadict = [{'day':'2017-01-01','temperature':32,'windspeed':6,'event':'Rain'},
           {'day':'2017-01-02','temperature':35,'windspeed':7,'event':'Sunny'},
           {'day':'2017-01-03','temperature':28,'windspeed':2,'event':'Snow'}]
df4 = pd.DataFrame(datadict)
df4

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow