In [10]:
import pandas as pd
dates = ['2017-01-05 02:30:00 PM','Jan 5, 2017','01/05/2017 14:30:00','2017.01.05','2017/01/05','20170105',
        'any string']
pd.to_datetime(dates,errors="coerce")

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [3]:
pd.to_datetime('5/1/2017',dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [7]:
pd.to_datetime('5$1$2017',dayfirst=True,format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [19]:
t = 1585328939
dt = pd.to_datetime(t,unit='s')
dt

Timestamp('2020-03-27 17:08:59')

In [20]:
x = dt.view('int64')

AttributeError: 'Timestamp' object has no attribute 'view'

In [18]:
x

array([1585328939000000000])